= form_for [current_weight_log, @menu] do |f|
  - if @menu.errors.any?
    = render :partial => "formerror", :locals => {:form_errors => @menu.errors}
  
  .control-group
    .control-label= f.label :menu_type
    .controls= f.select :menu_type, Menu.select_menu_array
  .control-group
    .control-label= f.label :detail
    .controls= f.text_area :detail
  .form-actions= f.submit nil, :class => "btn btn-success btn-large"