<%= form_for @milestone, :url => milestone_path, :html => {:class => "form-horizontal"} do |f| %>
  <% if @milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@milestone.errors.count, "") %> 個のエラーが発生しました。:</h2>

      <ul>
      <% @milestone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="control-group">
  	<div class="control-label">体重</div>
  	<div class="controls">
  	  <%= f.number_field :weight , :step => 0.1, :class => "span1" %>
  	</div>
  </div>
  <div class="control-group">
  	<div class="control-label">期限</div>
    <div class="controls">
      <%= f.date_select :date %>
    </div>
  </div>
  <div class="control-group">
  	<div class="control-label">ご褒美</div>
    <div class="controls">
      <%= f.text_area :reward %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => "btn btn-primary"%>
  </div>
<% end %>