.hero-unit
  .row-fluid
    .span9
      %h2 レコーディングダイエットをサポート
      %h1 Recordiet
      %p RecordietはレコーディングダイエットをサポートするためのWebアプリです。
      = link_to "新規ユーザ登録", new_user_path, :class => "btn btn-primary btn-large"
    .span3
      %h4 アカウントをお持ちの方
      = simple_form_for @user, :url => {:action => "create"} do |f|
        .field= f.input :mail_address, :placeholder => "メールアドレス", :label => false
        .field= f.input :password, :placeholder => "パスワード", :label => false
        .actions= f.submit "ログイン", :class => "btn btn-success"