<p id="alert"><%= alert %></p>

<div class="hero-unit">
  <div class="row-fluid">
  	<div class="span9">
  	  <h2>レコーディングダイエットをサポート</h2>
  	  <h1>Recordiet</h1>
  	  <p>RecordietはレコーディングダイエットをサポートするためのWebアプリです。</p>
  	  <%= link_to '新規ユーザ登録', new_user_path, :class => "btn btn-primary btn-large" %>
  	</div>
  	<div class="span3">
  	  <h4>アカウントをお持ちの方</h4>
  	  <%= form_for @user, :url => {:action => "create"} do |f| %>
        <div class="field">
          <%= f.text_field :mail_address, :placeholder => "メールアドレス" %>
        </div>
        <div class="field">
          <%= f.password_field :password, :placeholder => "パスワード" %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン", :class => "btn btn-success" %>
        </div>
      <% end %>
  	</div>
  </div>
</div>



