<h1>Login</h1>
<p id="notice"><%= notice %></p>

<%= form_for @user, :url => {:action => "create"} do |f| %>
  <div class="field">
    <%= f.label :mail_address %><br />
    <%= f.text_field :mail_address %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= link_to '新規ユーザ登録', new_user_path %>
