<%= form_for @user, :url => user_path do |f| %>
  <% if @user.errors.any? %>
    <%= render :partial => "formerror", :locals => {:form_errors => @user.errors} %>
  <% end %>
    
  <div class="control-group">
    <div class="control-label"><%= f.label :mail_address %></div>
    <div class="controls"><%= f.text_field :mail_address %></div>
  </div>
  <div class="control-group">
    <div class="control-label"><%= f.label :display_name %></div>
    <div class="controls"><%= f.text_field :display_name %></div>
  </div>
  <div class="control-group">
    <div class="control-label"><%= f.label :password %></div>
    <div class="controls"><%= f.password_field :password %></div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => "btn btn-success btn-large" %>
  </div>
<% end %>
