= simple_form_for @user, :url => user_path do |f|
  .control-group
    = f.input :mail_address
  .control-group
    = f.input :display_name
  .control-group
    = f.input :password
  .control_group
    = f.input :height, :input_html => {:step => 0.1, :class => "span1"}
  .form-actions= f.submit nil, :class => "btn btn-success btn-large"
