<p id="notice"><%= notice %></p>

<p>
  <b>Mail address:</b>
  <%= @user.mail_address %>
</p>

<p>
  <b>Display name:</b>
  <%= @user.display_name %>
</p>

<h2>目標</h2>
<% if @user.milestone %>
  <table>
    <tr>
      <td>目標体重</td>
      <td><%= @user.milestone.weight %></td>
      <td>
      	<% unless @user.weight_logs.empty? %>
      	  あと <%= (@user.weight_logs.select{|log| log.id != nil }[0].weight - @user.milestone.weight).round(2) %> kg
      	<% end%>
      </td>
    </tr>
    <% if @user.milestone.date %>
      <tr>
        <td>期限</td>
        <td><%= @user.milestone.date %></td>
        <td>あと <%= (@user.milestone.date - Date.today).to_i %> 日</td>
      </tr>
    <% end %>
  </table>
  <%= link_to "変更", edit_milestone_path %>
<% else %>
  <%= link_to "目標を設定する", new_milestone_path %>
<% end %>

<h2>体重履歴を追加</h2>
<%= form_for @user.weight_logs.build do |f| %>
  <div class="field">
  	計測日：<%= f.date_select :measured_date %>
  </div>
  <div class="field">
  	体重：<%= f.number_field :weight , :step => 0.1 %>
  </div>
  <div class="actions">
    <%= f.submit "記録" %>
  </div>
<% end %>

<h2>体重履歴</h2>
<table>
  <tr>
  	<th>計測日</th>
  	<th>体重</th>
  	<th></th>
  	<th></th>
  </tr>
  <% @user.weight_logs.select{|log| log.id != nil }.each do |weight_log| %>
  	<tr>
  		<td><%= weight_log.measured_date %></td>
  		<td><%= weight_log.weight %></td>
  		<td><%= link_to "変更", edit_weight_log_path(weight_log.id) %></td>
  		<td><%= link_to "削除", weight_log_path(weight_log.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
  	</tr>
  <% end %>
</table>

<!--
<%= link_to 'Edit', edit_user_path %> |
-->
