<p id="notice"><%= notice %></p>

<p>
  <b>Mail address:</b>
  <%= @user.mail_address %>
</p>

<p>
  <b>Display name:</b>
  <%= @user.display_name %>
</p>

<h2>体重履歴を追加</h2>
<%= form_for([@user, @user.weight_logs.build]) do |f| %>
  <div class="field">
  	計測日：<%= f.date_select :measured_date %>
  </div>
  <div class="field">
  	体重：<%= f.number_field :weight , :step => 0.1 %>
  </div>
  <div class="actions">
    <%= f.submit "記録" %>
  </div>
<% end %>

<h2>体重履歴</h2>
<table>
  <tr>
  	<th>計測日</th>
  	<th>体重</th>
  	<th></th>
  </tr>
  <% @user.weight_logs.select{|log| log.id != nil }.each do |weight_log| %>
  	<tr>
  		<td><%= weight_log.measured_date %></td>
  		<td><%= weight_log.weight %></td>
  		<td><%= link_to "変更", "/user/weight_logs/" + weight_log.id.to_s + "/edit" %></td>
  	</tr>
  <% end %>
</table>

<!--
<%= link_to 'Edit', edit_user_path %> |
-->
