<p id="notice"><%= notice %></p>

<p>
  <b>Mail address:</b>
  <%= @user.mail_address %>
</p>

<p>
  <b>Display name:</b>
  <%= @user.display_name %>
</p>

<h2>体重履歴</h2>
<% @user.weight_logs.each do |weight_log| %>
  <p>
  	<p>計測日：</p>
  	<%= weight_log.measured_date %>
  </p>
  <p>
  	<p>体重：</p>
  	<%= weight_log.weight %>
  </p>
<% end %>

<!--
<%= link_to 'Edit', edit_user_path %> |
-->
<%
#<%= link_to 'Back', users_path %>
%>
