= simple_form_for @weight_log, :html => {:class => "form-horizontal"} do |f|
  .control-group
    = f.input :measured_date
  .control-group
    = f.input :weight, :input_html => {:step => 0.1, :class => "span1"}
  .control-group
    = f.input :fat_percentage, :input_html => {:step => 0.1, :class => "span1"}
  .form-actions= f.submit nil, :class => "btn btn-primary"