%h3 履歴を追加
- unless @weight_log
  - @weight_log = @user.weight_logs.build

= render "form"

%h3 履歴
%table.table.table-striped
  %thead
    %tr
      %th 計測日
      %th 体重
      %th
      %th
  %tbody
    - take_off_form_data(@user.weight_logs).each do |weight_log|
      %tr
        %td= weight_log.measured_date
        %td= weight_log.weight
        %td
          = render :partial => "iterate_item_buttons",
                   :object => {:edit_path => edit_weight_log_path(weight_log.id),
                               :delete_path => weight_log_path(weight_log.id)}
        %td
          - unless weight_log.menus.empty?
            = link_to "食事内容表示", weight_log_menus_path(weight_log), :class => "btn btn-mini"
          = link_to "食事内容追加", new_weight_log_menu_path(weight_log), :class => "btn btn-mini"

