<h2>体重履歴</h2>
<p id="notice"><%= simple_format(notice) %></p>

<h3>履歴を追加</h3>
<%
  unless @weight_log
  	@weight_log = @user.weight_logs.build
  end
%>
<%= render 'form' %>

<h3>履歴</h3>
<table class="table table-striped">
  <thead>
    <tr>
	  <th>計測日</th>
	  <th>体重</th>
	  <th></th>
    </tr>
  </thead>
  <tbody>
  <% take_off_form_data(@user.weight_logs).each do |weight_log| %>
  	<tr>
  		<td><%= weight_log.measured_date %></td>
  		<td><%= weight_log.weight %></td>
  		<td>
  		  <%= link_to "変更", edit_weight_log_path(weight_log.id), :class => "btn btn-mini" %>
  		  <%= link_to "削除", weight_log_path(weight_log.id), method: :delete, data: { confirm: '本当に削除しますか？' }, :class => "btn btn-mini btn-danger"%>
  		</td>
  	</tr>
  <% end %>
  </tbody>
</table>
