- if flash[:success]
  = render :partial => "success", :object => flash[:success]

%h3 履歴を追加
- unless @weight_log
  - @weight_log = current_user.weight_logs.build

= render "form"

%h3 履歴
.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#table", "data-toggle" => "tab"}一覧
    %li
      %a{:href => "#weight_chart", "data-toggle" => "tab"}体重グラフ
    %li
      %a{:href => "#fat_chart", "data-toggle" => "tab"}体脂肪グラフ
  .tab-content
    #table.tab-pane.active
      %table.table.table-striped
        %thead
          %tr
            %th 計測日
            %th 体重
            %th 体脂肪率
            %th
            %th
        %tbody
          - take_off_form_data(current_user.weight_logs).each do |weight_log|
            %tr
              %td= weight_log.measured_date
              %td= weight_log.weight
              %td= weight_log.fat_percentage
              %td
                = render :partial => "iterate_item_buttons",
                         :object => {:edit_path => edit_weight_log_path(weight_log.id),
                                     :delete_path => weight_log_path(weight_log.id)}
              %td
                - unless weight_log.menus.empty?
                  = link_to "食事内容表示", weight_log_menus_path(weight_log), :class => "btn btn-mini"
                = link_to "食事内容追加", new_weight_log_menu_path(weight_log), :class => "btn btn-mini"
    #weight_chart.tab-pane
      = image_tag create_weight_chart
    #fat_chart.tab-pane
      = image_tag create_fat_percentage_chart
      

