%h2 体重履歴
- if notice
  = render :partial => "notice", :object => flash[:notice]
- if flash[:success]
  = render :partial => "success", :object => flash[:success]

%h3 履歴を追加
- unless @weight_log
  - @weight_log = @user.weight_logs.build

= render "form"

%h3 履歴
%table.table.table-striped
  %thead
    %tr
      %th 計測日
      %th 体重
      %th
      %th
  %tbody
    - take_off_form_data(@user.weight_logs).each do |weight_log|
      %tr
        %td= weight_log.measured_date
        %td= weight_log.weight
        %td
          = link_to "変更", edit_weight_log_path(weight_log.id), :class => "btn btn-mini"
          = link_to "削除", weight_log_path(weight_log.id), method: :delete, data: { confirm: '本当に削除しますか？' }, :class => "btn btn-mini btn-danger"
        %td
          - unless weight_log.menus.empty?
            = link_to "食事内容表示", weight_log_menus_path(weight_log), :class => "btn btn-mini"
          = link_to "食事内容追加", new_weight_log_menu_path(weight_log), :class => "btn btn-mini"

